<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.lwj.digosecond">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.digo.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- android:theme="@style/AppTheme" -->
        <!-- activity入口 -->
        <activity android:name="com.digo.func_main.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.digo.fun_add.activity.PublishTaskActivity">
        </activity>
        <activity android:name="com.digo.fun_add.activity.PublishTopicActivity">
        </activity>
        <activity android:name="com.digo.fun_add.activity.PublishLeseaActivity">
        </activity>
    </application>

</manifest>